<div *ngIf="teams != undefined; else elseBlock">
    <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Stadio</th>
            <th scope="col">Misc</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i=index">
              <th scope="row">{{i + 1}}</th>
              <td>{{team.name}}</td>
              <td>{{team.venue}}</td>
              <td>{{team.misc}}</td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #elseBlock>
    <div class="text-center">
        Non ci sono ancora squadre inserite. Importale da file oppure aggiungile manualmente.
    </div>
</ng-template>
<div class="fixed-bottom text-end">
  <button class="btn btn-primary me-3 my-3" (click)="openAddTeamDialog()">Aggiungi squadra</button>
</div>